

// ------ START ------ //
@mixin flex-start-start {
    display: flex;
    justify-content: start;
    align-items: start;
}

@mixin flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-start-end {
    display: flex;
    justify-content: start;
    align-items: end;
}


// ------ CENTER ------ //
@mixin flex-center-start {
    display: flex;
    justify-content: center;
    align-items: start;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-end {
    display: flex;
    justify-content: center;
    align-items: end;
}


// ------ END ------ //
@mixin flex-end-start {
    display: flex;
    justify-content: end;
    align-items: start;
}

@mixin flex-end-center {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin flex-end-end {
    display: flex;
    justify-content: end;
    align-items: end;
}