@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var currentPage = Umbraco.AssignedContentItem;
    var pageTitle = currentPage?.Value<string>("pageTitle") ?? "";
}

<section class="sub-header-section">
    <div class="background" style="background-image:url('/images/sub-header-bg-image.png'); background-size: cover; background-position: 10%;">

        <div class="container">

            <div class="content">
                <h1>
                    @pageTitle
                </h1>

                <p>
                    <a href="/">Home</a>
                    >
                    <span>@pageTitle</span>
                </p>

            </div>
        </div>
    </div>
</section>