@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var rootContent = UmbracoHelper.ContentAtRoot();

    var header = rootContent.FirstOrDefault(x => x.ContentType.Alias == "header");

    var globalSettings = rootContent.FirstOrDefault(x => x.ContentType.Alias == "settings");

    //Top-bar address
    var streetName = globalSettings?.Value<string>("streetName") ?? "";
    var postalCode = globalSettings?.Value<string>("postalCode") ?? "";
    var city = globalSettings?.Value<string>("city") ?? "";

    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

}

<div class="upper">
    <div class="container header-grid">
        <p>@streetName, @postalCode @city</p>

        <a class="social-media-link"> <i class="fa-brands fa-facebook-f"></i> </a>
        <a class="social-media-link"> <i class="fa-brands fa-x-twitter"></i> </a>
        <a class="social-media-link"> <i class="fa-brands fa-linkedin-in"></i> </a>

    </div>
</div>

<div class="lower">
    <div class="container ">

        <a class="icon" href="/">
            <img class="header-logo" src="/images/onatrix-logo.svg" />
        </a>

        @if (selection?.Length > 0)
        {
            <div class="navbar">
                @foreach (var item in selection)
                {
                    <a href="@item.Url(PublishedUrlProvider)" class="navlink @(item.IsAncestorOrSelf(Model) ? "active" : null)">@item.Name</a>
                }
            </div>
        }

        <button class="btn-mobile" onclick="toggleMenu()"><i id="btn-mobile-icon" class="fa-solid fa-bars"></i></button>

    </div>
</div>