
.services-grid {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    @include tablet {
        row-gap: 1rem;
        column-gap: 1rem;
    }

    @include desktop {
        row-gap: 2rem;
        column-gap: 2rem;
    }
}

.recent-projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    @include flex-center-center;
    gap: 1rem;

    a {
        height: 54px;
        width: 54px;
        @include flex-center-center;
    }

    .a-number {
        border: 2px solid $bg-gray;
        border-radius: 999px;
    }
}