.partner-logotypes {
    @include flex-center-center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    column-gap: 5rem;
    row-gap: 2.5rem;
    flex-wrap: wrap;

    @include desktop {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    img {
        height: 100%;
        width: auto;
    }
}
