@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
	Layout = null;

	var rootContent = UmbracoHelper.ContentAtRoot();
	var currentPage = Umbraco.AssignedContentItem;

	var extendedHeader = currentPage!.Value<bool>("extendedHeader");
	var contactSection = currentPage!.Value<string>("contactSection");
}

<html>

	<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/main.css" />
		<script src="https://kit.fontawesome.com/ad71ca79ed.js" crossorigin="anonymous"></script>
		<script src="~/scripts/main.js"></script>
	</head>

	<body class="wrapper">

		<header>
			@await Html.PartialAsync("partials/static/headerPartial.cshtml")
		</header>

		<main>
		@if(extendedHeader)
		{
			@await Html.PartialAsync("partials/static/extendedHeaderPartial.cshtml")
		}
		@if (contactSection == "Top")
		{
			@await Html.PartialAsync("partials/static/contactSection.cshtml")
		}
			@RenderBody()
		@if (contactSection == "Bottom")
		{
			@await Html.PartialAsync("partials/static/contactSection.cshtml")
		}
		</main>

		<footer>
			@await Html.PartialAsync("partials/static/footerPartial.cshtml")
		</footer>

	</body>

</html>