@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var buttonLinkText = Model.Content.Value<string>("buttonLinkText") ?? null;
    var buttonLinkUrl = Model.Content.Value<string>("buttonLinkUrl") ?? null;
    var buttonColor = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("buttonColor")?.Label.ToLower() ?? null;
    
}

@if (!string.IsNullOrEmpty(buttonLinkText) && !string.IsNullOrEmpty(buttonLinkUrl))
{
    <a href="@buttonLinkUrl" class="btn-@buttonColor"
    style="margin-left: auto; margin-right: auto; "
    >@buttonLinkText</a>
}