@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var centerContentClass = (Model.Content.Value<bool>("centerContent")) ? "center-container" : "";
}

<div class="container @centerContentClass">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>