@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headlineContent = Model.Content.Value<string>("headlineContent");
    var textAlign = Model.Content.Value<string>("textAlign") ?? "start";
}

@if (!string.IsNullOrEmpty(headlineContent))
{
    <h2 style="text-align: @textAlign;">@headlineContent</h2>
}