@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var imageDescription = Model.Content.Value<string>("imageDescription") ?? "";
    var selectedImage = Model.Content.Value<IPublishedContent>("selectedImage").Url() ?? null;

    var hideInTabletView = Model.Content.Value<bool>("hideInTabletView") ? "hidden-Tablet": "";
    var hideInMobileView = Model.Content.Value<bool>("hideInMobileView") ? "hidden-Mobile": "";
}

@if (!string.IsNullOrEmpty(selectedImage))
{
    <div class="image-div @hideInMobileView @hideInTabletView">
        <img src="@selectedImage" alt="@imageDescription" />
    </div>
}