@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var paragraphContent = Model.Content.Value<string>("paragraphContent");
    var textAlign = Model.Content.Value<string>("textAlign");
    var maxWidthValue = Model.Content.Value<int>("maxWidth");
    var maxWidth = maxWidthValue.ToString() + "px";

    //Colors
    var textColorLabel = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("textColor")?.Label.ToLower() ?? null;
    var textColorClass = !string.IsNullOrEmpty(textColorLabel) ? $"text-{textColorLabel}" : "";

}

@if (!string.IsNullOrEmpty(paragraphContent))
{
    if (maxWidthValue == 0)
    {
        <p class="@textColorClass" style="text-align: @textAlign;">@paragraphContent</p>
    }
    else
    {
        <p class="@textColorClass" style="text-align: @textAlign; max-width: @maxWidth;">@paragraphContent</p>
    }
}