@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var paragraphContent = Model.Content.Value<string>("paragraphContent");
    var textAlign = Model.Content.Value<string>("textAlign");
    var maxWidthValue = Model.Content.Value<int>("maxWidth");
    var maxWidth = maxWidthValue.ToString() + "px";

}

@if (!string.IsNullOrEmpty(paragraphContent))
{
    if (maxWidthValue == 0)
    {
        <p style="text-align: @textAlign;">@paragraphContent</p>
    }
    else
    {
        <p style="text-align: @textAlign; max-width: @maxWidth;">@paragraphContent</p>
    }
}